@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop");
@import url("https://fonts.googleapis.com/css2?family=Single+Day");

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-color: #1e5b5b;
    --plain: #ffffff;
    --secondary-color: #eb6c5d;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav Bar */

.nav-container {
  background-color: var(--primary-color);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-title {
  font-size: 24px;
  color: var(--plain);
  font-weight: 900;
  font-family: "Rubik+Glitch+Pop";
}

.nav-title:hover {
  color: var(--secondary-color);
}

.nav-title:active {
  color: var(--secondary-color);
}

.nav-link-title {
  text-decoration: none;
}

.nav-ul {
  display: flex;
  gap: 20px;
}

.nav-links {
  font-family: "Single+Day";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: var(--plain);
}
.nav-links:hover {
  color: var(--secondary-color);
}
.nav-links:active {
  color: var(--secondary-color);
}

/* ------------------ */


/* Button */
.button-main{
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  border: 1px solid #ffffff;
  height: 60px;
  letter-spacing: 2px;
  outline: none;
}



/* -------------- */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
