@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Playfair");

.homeContainer {
}

.welcome {
  background-color: #1e5b5b;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 88px;
  padding-bottom: 88px;
  display: flex;
  justify-content: space-between;
}

.topBtn {
  background-color: #eb6c5d;
  height: 40px;
  border-radius: 20px;
  color: #1e5b5b;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  display: flex;
  margin-bottom: 70px;
  width: 180px;
  justify-content: center;
}

.enhance {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 800;
}

.boost {
  font-weight: 900;
  font-size: 85px;
  font-family: "Playfair";
}
.leftWelcome {
  width: 50%;
}

.btnDiv {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.enhanceTwo {
  color: #1e5b5b;
  font-size: 40px;
  font-family: "Playfair";
  text-align: center;
  margin-bottom: 50px;
}

.middleContainer {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
  /* display: flex;
  justify-content: center; */
}

.contentContainer {
  background-color: #1e5b5b;
  width: 33%;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 8px;
}

.htmlP {
  font-family: "Playfair";
  margin-top: 10px;
  margin-bottom: 30px;
  /* letter-spacing: 2px; */
}

.theTitle {
  font-family: "Playfair";
  font-weight: 900;
}

.courses {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.linkBtn {
  color: #eb6c5d;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Playfair";
  font-weight: 900;
}

.views {
  background-color: #eb6c5d;
  width: 100%;
  height: 450px;
}

.potential {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 88px;
  padding-bottom: 88px;
}
